#nav{
  background-color: #264653;
  height: 10vh;
  color: white;
  #nav_inner{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #addbtn{
      background-color: #2a9d8f;
      color: white;
      outline: none;
      border: none;
      &:hover, :active{
        background-color: #e9c46a;
      }
    }
  }
}